<div id="container" class="mist">
  <section id="search"> 
    <input type="text" name="search" placeholder="Enter city..." class="search-input mulish-regular">
    <a href="#" class="search-btn">
            <i class="fas fa-search"></i>      
    </a>  
  </section>
  <section id="chosenCity" class="poppins-medium title"> 
    <div class="city">SUMY</div>
    <div class="temperature">-2 °C </div>
  </section>
  <section id="forecast" class="mulish-regular label">
    <div class="temperatureCard glass"> <div class="generalInfo"><div class="date">Today</div> <div class="state">snowy</div></div>
    <div class="temperatureInfo"><div class="state">highest</div><div class="temperature">-2 °C </div><div class="state">highest</div><div class="temperature">-2 °C </div></div>
  </div>
  <div class="temperatureCard glass"> <div class="generalInfo"><div class="date">Today</div> <div class="state">snowy</div></div>
    <div class="temperatureInfo"><div class="state">highest</div><div class="temperature">-2 °C </div><div class="state">highest</div><div class="temperature">-2 °C </div></div>
  </div>
  <div class="temperatureCard glass"> <div class="generalInfo"><div class="date">Today</div> <div class="state">snowy</div></div>
    <div class="temperatureInfo"><div class="state">highest</div><div class="temperature">-2 °C </div><div class="state">highest</div><div class="temperature">-2 °C </div></div>
  </div>
  <div class="temperatureCard glass"> <div class="generalInfo"><div class="date">Today</div> <div class="state">snowy</div></div>
    <div class="temperatureInfo"><div class="state">highest</div><div class="temperature">-2 °C </div><div class="state">highest</div><div class="temperature">-2 °C </div></div>
  </div>
  </section>
  <section id="addedCities" class="mulish-regular label">
    <div class="cityCard glass">
      <div class="generalInfo">
        <div class="city">Sumy</div>
        <div class="state">snowy</div>
      </div>
      <div class="temperature">-2 °C </div>
    </div>
    <div class="cityCard glass">
      <div class="generalInfo">
        <div class="city">Sumy</div>
        <div class="state">snowy</div>
      </div>
      <div class="temperature">-2 °C </div>
    </div>
    <div class="cityCard glass">
      <div class="generalInfo">
        <div class="city">Sumy</div>
        <div class="state">snowy</div>
      </div>
      <div class="temperature">-2 °C </div>
    </div>
  </section>
</div>